<div class="form">
    Holidays API options:
    <select name="holi_selection" ng-model="apiKey">
        <!--<option ng-value="">None</option>-->
        <option ng-value="api.id" ng-repeat="api in select_api" selected>{{api.name}}</option>

    </select>
    selected: <input type="text" ng-model="date">
    days: <input type="text" ng-model="dayslimit">
    country:
    <select name="country" ng-model="country">
        <!--<option ng-value="">None</option>-->
        <option ng-value="c.id" ng-repeat="c in select_country">{{c.name}}</option>

    </select>
    <button ng-click="search()">Search</button>
</div>

<div class="calendar" ng-show="date" ng-repeat="mm in months[0]">
    <div class="header">
        <span>{{ mm.details }}</span>
    </div>
    <div class="week names">
        <span class="day">Sun</span>
        <span class="day">Mon</span>
        <span class="day">Tue</span>
        <span class="day">Wed</span>
        <span class="day">Thu</span>
        <span class="day">Fri</span>
        <span class="day">Sat</span>
    </div>
    <div class="week" ng-repeat="week in mm.month">
        <span  title="{{day.isHoliday.name}}" class="day" ng-class="{ 'beforeSelected':day.beforeSelected, isHoliday: day.isHoliday, 'different-month': !day.isCurrentMonth, 'isWeekend': day.isWeekend, 'Weekday': !day.isWeekend }" ng-repeat="day in week.days">{{day.number}}</span>
    </div>
</div>